### Question 1

##### Get a mark from the user as input and calculate the letter grade for the mark scored and also Pass/Fail/Distinction

#### Conditions:

1. Marks above 25 is considered as pass and below them is fail
2. Between 26 and 35 -> Grade 'E'
3. Between 36 and 50 -> Grade 'D'
4. Between 51 and 60 -> Grade 'C'
5. Between 61 and 75 -> Grade 'B'
6. Between 76 and 95 -> Grade 'A'
7. Between 96 and 99 -> Grade 'A+'
8. Marks 100 -> Grade 'Distinction - O'

#### Sample input: 26
#### Sample Output : Pass
####                              E

In [37]:
mark=int(input())
if mark>=26: 
   print("pass")
   if mark>=26 and mark<=35:
    print("Grade E")
    print("pass")
   else:
      if mark>=36 and mark<=50:
        print("Grade D")
        
      else:
        if mark>=51 and mark<=60:
         print("Grade C")
      
        else:
         if mark>=61 and mark<=75:
          print("Grade B")
          
         else:
          if mark>=76 and mark<=95:
            print("Grade A")
            
          else:
            if mark>=96 and mark<=99:
              print("Grade A+")
             
            else:
              if mark==100:
                print("Grade O")
                print("distinction")
              

else:
  print("fail")

44
pass
Grade D

### Question 2

#### Get a number as an input from user (It can also be a decimal number). Calculate the square of the number given as input. When the result is above 100, print "Maximum Limit Reached". 
##### Constraints: The input number cannot be more than 250

In [45]:
a=float(input())
b=3.0
if a <=250:
 c=pow(a,b)
else:
  print("number cannot be more than 250")
#print(c)
if c>100:
  print ("Maximum Limit Reached")
else:
  print(c)

2
8.0

### Question 3

#### Get two numbers as input from user. If both the numbers are below 10, you shoud add the two numbers. If both the numbers are above 10, Calculate the product of two numbers. 
##### Constraints: Identify the exceptions/cases that can rise apart from the above given scenarios

In [3]:
a=int(input())
b=int(input())
if a<10 and b<10:
  print(a+b)
elif a>10 and b>10:
  print(a*b)
else:
  print("number")

3
4
7

5### Question 4

#### Consider the below list "a". Get a string input from user. Check whether the string is in the list "a". If the string is present in the list, print "Alphabet Present", else print "Not Found"

In [ ]:
a = ["A","B", "C", "D", "E"]

In [ ]:
Alphabet=str(input())
if Alphabet in a:
  print( "Alphabet Present")
else:
  print("Not Found")

M
Not Found

### Question 5

#### The list of movies that has expired is given in the expired data given below. The "Status" column usually has only "Yes" as value, since all the movies are expired. Check the "Status" column, If there is "No" in the column, print the "MovieID" and "MovieName". 

The data is given as a dictionary. Please convert this as a dataframe and solve the problem

##### Note: Please convert the "Status" column as a list

In [ ]:
dictionary = {
    "MovieID" : ['A12', 'B23', 'C34', 'D45'],
    "MovieName" : ['MOV1', 'MOV2', 'MOV3', 'MOV4'],
    "Status" : ['Yes', 'Yes', 'No', 'Yes']
}

In [ ]:
import pandas as pd
movie= pd.DataFrame(dictionary)
movie

  MovieID MovieName Status
0     A12      MOV1    Yes
1     B23      MOV2    Yes
2     C34      MOV3     No
3     D45      MOV4    Yes

In [ ]:
movie1=movie.loc[movie['Status'] == 'No']
print(movie1)

  MovieID MovieName Status
2     C34      MOV3     No

In [ ]:
movie2=movie.loc[movie['Status'] == 'Yes']
print(movie2)

  MovieID MovieName Status
0     A12      MOV1    Yes
1     B23      MOV2    Yes
3     D45      MOV4    Yes

## Python List - Questions

#### Consider the below list named 'list1' and answer the below questions

In [11]:
list1 = [1,2,3,4,5]

#### Print the 1st number of the list

In [ ]:
list1[0]

1

#### Print all elements after index 2

In [ ]:
list1[3:len(list1)]

[4, 5]

In [ ]:
list1[3:]

[4, 5]

#### Print last element of the list

In [13]:
list1[len(list1)-1:]

[5]

In [15]:
list1[-1]

5

#### print last three elements of the list

In [ ]:
list1[len(list1)-3:]

[3, 4, 5]

In [19]:
list1[-3:]

[3, 4, 5]

#### add a number '7' to the list

In [ ]:
list1.append(7)
list1

[1, 2, 3, 4, 5, 7]

## Python Dict - Questions

#### Consider the below dictionary and answer the following questions

In [ ]:
sample = {
    'A' : 2,
    'B' : 3,
    'C' : 4
}

#### Print all the keys of the dictionary

In [ ]:
print(sample.keys())

dict_keys(['A', 'B', 'C'])

#### Get the value of "B" from the dictionary

In [ ]:
print(sample["B"])

3

#### Add a new element called "D" to the dictionary and assign [1,4,5,8] as value to it.

In [20]:
sample = {
    'A' : 2,
    'B' : 3,
    'C' : 4
}

In [21]:
sample.update({"D": [1, 4, 5, 8]})

In [22]:
sample

{'A': 2, 'B': 3, 'C': 4, 'D': [1, 4, 5, 8]}

In [ ]:
print(sample.values())

dict_values([1, 4, 5, 8])